---

---

<nav>
  <ul
    class="nav-list flex flex-row justify-center gap-6 py-4 px-8 font-extrabold mb-8"
  >
    <li><a href="/">Home</a></li>
    <li><a href="/schedule/">Schedule</a></li>
    <li><a href="/resources/">Resources</a></li>
    <li><a href="/projects/">Projects</a></li>
    <li><a href="/collectives/">Collectives</a></li>
  </ul>
</nav>
