---
import { getCollection } from "astro:content";

const currentPath = Astro.url.pathname;

// Get the latest week
const allWeeks = await getCollection("weeks");
const sortedWeeks = allWeeks
  .filter((week) => week.data.page !== false)
  .sort((a, b) => a.data.week - b.data.week);
const latestWeek = sortedWeeks[sortedWeeks.length - 1];
const latestWeekSlug = latestWeek?.id || "week-1";
---

<nav>
  <ul
    class="nav-list flex flex-col text-center md:text-left md:flex-row justify-center gap-2 md:gap-6 py-4 px-8 font-extrabold mb-8"
  >
    <li><a href="/" class:list={{ active: currentPath === "/" }}>Home</a></li>
    <li>
      <a
        href={`/${latestWeekSlug}/`}
        class:list={{ active: currentPath === `/${latestWeekSlug}/` }}
        >This Week</a
      >
    </li>
    <!-- <li>
      <a href="/library/" class:list={{ active: currentPath === "/library/" }}
        >Library</a
      >
    </li> -->
    <li>
      <a href="/schedule/" class:list={{ active: currentPath === "/schedule/" }}
        >All Weeks</a
      >
    </li>
    <li>
      <a href="/projects/" class:list={{ active: currentPath === "/projects/" }}
        >Projects</a
      >
    </li>
    <!-- <li>
      <a
        href="/collectives/"
        class:list={{ active: currentPath === "/collectives/" }}>Collectives</a
      >
    </li> -->
  </ul>
</nav>

<style>
  .active {
    opacity: 0.7;
  }

  .active::before {
    content: "=== ";
  }

  .active::after {
    content: " ===";
  }
</style>
