---
import { marked } from "marked";
import colophonRaw from "../content/colophon.md?raw";

const content = marked.parse(colophonRaw);
---

<section class="colophon receipt p-8 my-8">
  <h2>Colophon</h2>
  <div set:html={content} />
</section>

<style>
  .colophon {
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
  }

  .colophon h2 {
    margin-bottom: 1rem;
  }

  .colophon p {
    margin-bottom: 1rem;
  }

  .colophon p:last-child {
    margin-bottom: 0;
  }

  .receipt {
    --zigzag-size: 12px;
    --bg: var(--color-white);

    background:
    /* top zig-zag */
      linear-gradient(135deg, transparent 75%, var(--bg) 0),
      linear-gradient(225deg, transparent 75%, var(--bg) 0),
      /* bottom zig-zag */ linear-gradient(315deg, transparent 75%, var(--bg) 0),
      linear-gradient(45deg, transparent 75%, var(--bg) 0),
      /* fill (middle only) */ linear-gradient(var(--bg), var(--bg));

    background-position:
      left top,
      left top,
      left bottom,
      left bottom,
      left var(--zigzag-size);

    background-size:
      var(--zigzag-size) var(--zigzag-size),
      var(--zigzag-size) var(--zigzag-size),
      var(--zigzag-size) var(--zigzag-size),
      var(--zigzag-size) var(--zigzag-size),
      100% calc(100% - (var(--zigzag-size) * 2));

    background-repeat: repeat-x, repeat-x, repeat-x, repeat-x, no-repeat;

    padding: calc(24px + var(--zigzag-size)) 24px;
  }
</style>
